.login-form,
.registration-form {
    margin: auto;
    margin-top: 100px;
    max-width: 500px;
}

.back-to-login,
.add-button {
    float: right;
}

.logout-button {
    float: right;
    margin-right: 10px;
}