#root {
    display: flex;
    align-items: center;
    place-content: center;
  }
  
  .logo {
    place-content: center;
    border: 0px
  }
  
  .logo svg {
    width: 145px !important;
    height: auto;
  }
  
  .login-container {
    width: 500px !important;
    height: 650px;
  
    background: #fff;
    box-shadow: 5px 10px 15px rgba(134, 133, 136, 0.05);
    display: flex;
    place-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    border-radius: 15px;
    text-align: center;
  }
  
  .login-form {
    width: 80% !important;
  }
  
  .login-form-button {
    width: 100%;
    background: #0067FF;
    box-shadow: 0px 5px 15px rgba(0, 103, 255, 0.15);
    outline: none !important;
  }
  
  .login-form-button:hover,
  .login-form-button:focus {
    outline: none !important;
    border: 0 !important
  }
  
  .login-form .ant-btn {
    height: 50px;
    line-height: 48px;
    font-size: var(--font-sixteen-responsive) !important;
    padding: 0px;
    font-weight: var(--primary-font-weight-semibold) !important;
    font-family: var(--primary-font-family-semibold) !important;
    text-shadow: none !important;
  }
  
  
  .my-form {
    display: flex;
    flex-direction: column;
    grid-gap: 20px;
    padding: 20px;
  }
  
  .slogun-text {
    margin: 40px 0;
  }
  
  .slogun-text .ant-typography-secondary {
    font-size: var(--font-fourteen-responsive) !important;
    font-weight: var(--primary-font-weight-regular);
    font-family: var(--primary-font-family-regular) !important;
  }
  
  .slogun-text h2 {
    position: relative;
    z-index: 5;
  }
  
  .slogun-text h2 span {
    position: relative;
    z-index: 5;
    font-size: var(--font-twentyfour-responsive);
    font-weight: var(--primary-font-weight-bold);
    font-family: var(--primary-font-family-bold) !important;
  }
  
  .slogun-text h2:after {
    background: #fff;
    width: 40%;
    height: 100%;
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 2;
  }
  
  .slogun-text h2:before {
    height: 1px;
    width: 100%;
    z-index: 1;
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    margin: auto;
    background: #e1e1e1;
  }
  
  .ant-form-item-required:before {
    display: none !important;
  }
  
  .ant-form-item-label label {
    color: #4A494D;
    font-weight: var(--primary-font-weight-medium) !important;
    font-family: var(--primary-font-family-medium) !important;
    font-size: var(--font-fourteen-responsive) !important;
  }
  
  .forgot-container .slogun-text h2:after {
    width: 50%
  }
  
  .forgot-container .slogun-text h2 span {
  
    font-size: var(--font-size-22);
  }
  
  .login-container .username-field .ant-col {
    padding: 0px;
  }
  
  .login-container .password-field .ant-input-affix-wrapper {
    padding: 0px !important;
    overflow: hidden;
  
  }
  
  
  .login-container .password-field input {
    padding: 0 10px !important;
  }
  
  .login-container .password-field .ant-input-suffix {
    background: transparent;
    position: absolute;
    right: 10px;
    top: 14px;
  }
  
  .login-container .login-form-forgot {
    float: right;
    margin: 0;
    padding: 0;
    line-height: 30px;
    font-weight: var(--primary-font-weight-regular) !important;
    font-family: var(--primary-font-family-regular) !important;
    font-size: var(--font-fourteen-responsive) !important;
  }
  
  .login-container .remeber-box {
    font-weight: var(--primary-font-weight-regular) !important;
    font-family: var(--primary-font-family-regular) !important;
    font-size: var(--font-fourteen-responsive) !important;
    color: #868588
  }
  
  @media screen and (max-width:1366px) {
    .logo {
      margin-top: 20px;
    }
  
    .login-container {
      height: 90vh;
    }
  
    .slogun-text {
      margin: 15px 0
    }
  
    .form-row {
      margin-bottom: 15px !important;
    }
  }